@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}
